@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">MotorMax</h1>
	<p>El sitio de compra de repuestos que buscabas al precio que necesitás</a></p>

	<img src="/images/home/478506-banner32bd.jpg" class="d-block w-100" alt="repuestos de calidad">

</div>
